{{!
    This file is part of moogwai - Private project
    Moogwai imports to Moodle.
}}
{{< core_form/element-template }}
<!-- local_aplcore/moogwai/form/element-simplecaptcha hasjs -->
    {{$element}}
        {{{element.html}}}
    {{/element}}
<!-- /local_aplcore/moogwai/form/element-simplecaptcha -->
{{/ core_form/element-template }}
{{#js}}
require(['core_form/simplecaptcha'], function(simplecaptcha) {
    simplecaptcha.init();
});
{{/js}}