{{!
    This file is part of moogwai - Private project
    Moogwai imports to Moodle.
}}
{{!
    @template local_aplcore/moogwai/form/element-visualselect

    Simple select form element template.

    Context variables required for this template:
    * id - Element id,
    * nameraw - Raw Element name without '[]'
    * name - Element name,
    * label -  Element label,
    * multiple - multi select?,
    * checked - checked?,
    * error - Is there an error associated with this element?,
    * size - Element size,
    * value - Element value,
    * helpbutton - Helpbutton,
    * hiddenlabel - Element hidden flag,
    * frozen - Element frozen flag,
    * hardfrozen - Element hard fronzen flag,
    * extraclasses - Extra classes assocaited,
    * type - Element type,
    * attributes - Element attributes,
    * options - [
        {
            text - Option text,
            value - Option value,
            selected - Selected?,
            disabled - Disabled?,
            optionattributes - Option attributes
        }
    ]

    Example context (json):
    {
        "element": {
            "id": "id_maildisplay",
            "nameraw": "maildisplay",
            "name": "maildisplay",
            "label": null,
            "multiple": null,
            "checked": null,
            "error": null,
            "size": null,
            "value": null,
            "helpbutton": "",
            "hiddenlabel": false,
            "frozen": false,
            "hardfrozen": false,
            "extraclasses": null,
            "type": "select",
            "attributes": "",
            "options": [
                {
                    "text": "Hidden",
                    "value": 0,
                    "selected": false,
                    "disabled": false,
                    "optionattributes": "",
                    "isopt": true,
                    "imgurl": ""
                },
                {
                    "text": "Visible to everyone with image tag",
                    "value": 1,
                    "selected": true,
                    "disabled": false,
                    "optionattributes": "",
                    "isopt": true,
                    "img": "<img src="">"
                },
                {
                    "text": "Visible option with image url",
                    "value": 2,
                    "selected": false,
                    "disabled": false,
                    "optionattributes": "",
                    "isopt": true,
                    "imgurl": ""
                }
            ]
        }
    }
}}
{{< core_form/element-template }}
<!-- local_aplcore/moogwai/form/element-visualselect has_js -->
    {{$element}}
        {{#element.multiple}}
            <input type="hidden" name="{{element.nameraw}}" value="_qf__force_multiselect_submission">
        {{/element.multiple}}
        <input type="hidden" id="{{element.id}}" name="{{element.name}}" value="{{element.value}}">
        <div class="container {{#element.multiple}}multiple{{/element.multiple}}" id="visualselect-options-{{element.id}}"
            {{#error}}
                autofocus aria-describedby="{{element.iderror}}"
            {{/error}}
            {{{element.attributes}}} >
            {{#element.hasoptions}}
            {{#element.optionrows}}
            <div class="row visualselect-row">
                {{#options}}
                {{#isopt}}
                <div class="col visualselect-col">
                    {{#imgurl}}
                    <!-- given as imgurl -->
                    <div data-selectid="{{element.id}}" data-value="{{value}}" class="visualselector {{#hidden}}initially-hidden hidden{{/hidden}}" title="{{{text}}}">
                        <img data-selectid="{{element.id}}" data-value="{{value}}"
                        class="{{#selected}}selected{{/selected}} {{#disabled}}disabled{{/disabled}} {{#element.frozen}}frozen{{/element.frozen}}"
                        {{{optionattributes}}} alt="{{{text}}}" src="{{imgurl}}">
                    </div>
                    {{/imgurl}}
                    {{#img}}
                    <!-- given as full html image tag, f.e. svg -->
                    <div data-selectid="{{element.id}}" data-value="{{value}}" class="visualselector" title="{{{text}}}">
                    {{{img}}}
                    </div>
                    {{/img}}
                </div>
                {{/isopt}}
                {{#ismore}}
                <div class="col visualselect-col d-flex align-items-center align-center visualselector more">
                    <a id="more-{{element.id}}" class="visualselect-more">{{#str}}more, local_aplcore{{/str}}</a>
                </div>
                {{/ismore}}
                {{#isless}}
                <div class="col visualselect-col d-none align-items-center align-center visualselector less">
                    <a id="less-{{element.id}}" class="visualselect-less">{{#str}}less, local_aplcore{{/str}}</a>
                </div>
                {{/isless}}
                {{/options}}
            </div>
            {{/element.optionrows}}
            {{/element.hasoptions}}
            {{^element.hasoptions}}
            <div class="row">
                <div class="col visualselect-col no-options">
                    {{{nooptions}}}
                </div>
            </div>
            {{/element.hasoptions}}
        </div>
    {{/element}}
<!-- /local_aplcore/moogwai/form/element-visualselect -->
{{/ core_form/element-template }}
{{#js}}
require(['jquery', 'core/log'], function($, log) {

    var visualselect = {

        init: function() {
            $('div.visualselector').bind('click', this.selectoption);
            $('.visualselect-more').bind('click', this.showmore);
            $('.visualselect-less').bind('click', this.showless);

            // Set initial value
            $('input.visualhidden').each(function(ix, elm){
                $('div.visualselector[data-selectid="'+elm.id+'"][data-value="'+elm.value+'"]').addClass('selected');
            });

            log.debug("In-template JS element-visualselect initialized");
        },

        /*
         *
         */
        selectoption: function(e) {
            var that = $(this);
            var id = that.attr('data-selectid');
            var maininput = $('input[id="'+id+'"]');
            log.debug(maininput);
            log.debug(that.attr('data-value'));
            if (that.closest('.container').hasClass('multiple')) {
                // Just switch on.off the element.
                if (that.hasClass('selected')) {
                    // We are going to strip it out from value list.
                    let valuearr = maininput.val().split(',');
                    let index = valuearr.indexOf(that.attr('data-value'));
                    maininput.val(valuearr.splice(index, 1).join(','));
                } else {
                    // We add the option.
                    let valuearr = Array();
                    if ('' !== maininput.val()) {
                         valuearr = maininput.val().split(',');
                    }
                    let index = valuearr.indexOf(that.attr('data-value'));
                    if (index < 0) {
                        // Not in values.
                        valuearr.push(that.attr('data-value'));
                    }
                    maininput.val(valuearr.join(','));
                }
                that.toggleClass('selected');
            } else {
                // Select one unselect all others.
                that.closest('.container').find('.selected').removeClass('selected');
                that.addClass('selected');
                maininput.val(that.attr('data-value'));
            }

            // Trigger onchange event on input.
            // this should relay event as select does for hideIf or disabledIf
            maininput.trigger('change');
        },

        // Show more options.
        showmore: function(e) {
            e.stopPropagation();
            e.preventDefault();

            var that = $(this);
            var elmid = that.attr('id').replace('more-', '');
            $('#visualselect-options-' + elmid + ' .visualselector').removeClass('hidden');
            $('#visualselect-options-' + elmid + ' .visualselector.more').addClass('d-none');
            $('#visualselect-options-' + elmid + ' .visualselector.more').removeClass('d-flex');
            $('#visualselect-options-' + elmid + ' .visualselector.less').removeClass('d-none');
            $('#visualselect-options-' + elmid + ' .visualselector.less').addClass('d-flex');
        },

        // Show less options.
        showless: function(e) {
            e.stopPropagation();
            e.preventDefault();

            var that = $(this);
            var elmid = that.attr('id').replace('less-', '');
            $('#visualselect-options-' + elmid + ' .visualselector.initially-hidden').addClass('hidden');
            $('#visualselect-options-' + elmid + ' .visualselector.more').removeClass('d-none');
            $('#visualselect-options-' + elmid + ' .visualselector.more').addClass('d-flex');
            $('#visualselect-options-' + elmid + ' .visualselector.less').addClass('d-none');
            $('#visualselect-options-' + elmid + ' .visualselector.less').removeClass('d-flex');
        }

    };

    visualselect.init();
});
{{/js}}