{{!
    This file is part of Moogwai
}}
{{!
    @template core/admin/setting/config_range

    Admin 'range' setting template.

    Context variables required for this template:
    * name - form element name
    * id - element id
    * value - element value
    * min - element range min
    * max - element range max
    * step - element range step
    * unit - element range unit
    * forceltr - always display as ltr
    * attributes - list of additional attributes containing name, value
    * readonly - bool
    * list - string, id of <datalist> element
    * data - array additional data as key:value objects

    Example context (json):
    {
        "name": "test",
        "id": "test0",
        "value": "A tall, dark stranger will have more fun than you.",
        "width": "200px",
        "min": "0",
        "max": "100",
        "step": "1",
        "unit": "",
        "forceltr": false,
        "readonly": false,
        "attributes": [ { "name": "readonly", "value": "readonly" } ],
        "data": [],
    }
}}
{{!
    Setting configtext.
}}
<div class="form-text defaultsnext d-flex align-items-center">
    <div>
    <input type="range" min="{{min}}"
                        max="{{max}}"
                        step="{{step}}"
                        name="{{name}}"
                        data-unit="{{unit}}"
                        {{#width}}
                        style="width:{{width}}"
                        {{/width}}
                        {{#haslist}}
                        list="datalist_{{id}}"
                        {{/haslist}}
                        value="{{value}}"
                        id="{{id}}"
                        class="form-control {{#forceltr}}text-ltr{{/forceltr}}"
                        {{#readonly}}disabled{{/readonly}}
                        {{#data}}
                        data-{{key}}={{#quote}}{{{value}}}{{/quote}}
                        {{/data}}>
    </div>
    {{^novalue}}
    <div class="form-value m-2" id="val_{{id}}"></div>
    {{/novalue}}

    {{#haslist}}
    <datalist id="datalist_{{id}}">
        {{#list}}
        <option value="{{option}}"></option>
        {{/list}}
    </datalist>
    {{/haslist}}
</div>
