

<!-- local_aplcore/course_selector -->
<div class="courseselector" id="{{name}}_wrapper">
    <select name="{{selectname}}" id="{{name}}" {{{multiselect}}} size="{{rows}}">
        {{{selectoptions}}}
    </select>
    <div>

        <input type="text" name="{{name}}_searchtext" id="{{name}}_searchtext" size="15" value="{{search}}" />
        <input type="submit" name="{{name}}_searchbutton" id="{{name}}_searchbutton" value="{{caption}}" />
        <input type="submit" name="{{name}}_clearbutton" id="{{name}}_clearbutton" value="{{#str}}clear{{/str}}" />

        {{^searchoptionsoutput}}
            {{{collapsibleregionstart}}}
            {{{preserveselectedcheck}}}
            {{{autoselectuniquecheck}}}
            {{{searchanywherecheck}}}
            {{{collapsibleregionend}}}
        {{/searchoptionsoutput}}
    </div>
</div>

{{{searchjs}}}
<!-- /local_aplcore/course_selector -->
